html {
  scroll-behavior: smooth;
}

.prim-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 7rem;
  font-family: 'Montserrat Alternates';
  font-weight: medium;
  font-size: 25px;
}

.photo-container {
  position: relative;
  width: 850px;
  height: 350px;
  border: 1px solid #141E46;
  border-radius: 20px;
  background-color: #FFFDF6;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.drop-zone {
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.drop-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.main-text {
  font-weight: bold;
  font-size: 1.1rem;
  color: #000000;
}

.sub-text {
  font-size: 12px;
  font-weight: 400;
  color: #346347;
}

.title-text{
    padding-top: 2rem;
}

.select-btn {
  padding: 5px 1rem;
  border: none;
  background-color: #D3D3D5;
  color: #141E46;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0.5rem;
  font-size: 13px;
  font-family: 'Montserrat Alternates';
  font-weight: 500;
  transition: 0.3s ease;
}

.select-btn:hover {
  background-color: #141E46;
  color:#f5f5f5;
}

.upload-photo-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  background-color: #346347;
  color: white;
  border: none;
  padding: 0.4rem 2rem;
  border-radius: 15px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.3s ease;
}

.upload-photo-btn:hover {
  background-color: #1e3928;
}

.p-text p{
    font-size: 15px;
    color: #4F8B67;
    font-weight:500;
}

.preview-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none; /* <-- JS will toggle this */
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  z-index: 10;
}

.preview-box img {
  max-width: 250px;
  max-height: 200px;
  object-fit: cover;
  border: 1px solid #ccc;
  border-radius: 10px;
}


.preview-box p {
  font-size: 14px;
  font-weight: 500;
  color: #333;
  text-align: center;
  max-width: 250px;
  word-break: break-word;
}

.photo-container.image-loaded .drop-zone {
  display: none;
}

.photo-container.dragging-highlight {
  border: 2px dashed #007bff;
  background-color: rgba(0, 123, 255, 0.07);
  transition: background-color 0.3s ease, border 0.3s ease;
} 